<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EFC</title>
    <link rel="stylesheet" href="/css/reset-password.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


</head>

<body>
    <main>
        <div class="big-wrapper light">


             {{> navbar}}


            <div class=" bottom-area ">
                <div class="container ">
                    <button class="toggle-btn ">
                <!-- <i class="far fa-moon "></i>
                <i class="far fa-sun "></i> -->
              </button>
                </div>
            </div>
            <div class="home" id="home">
                <div class="container2">
                    <div class="reset-password">
                        <h1>Reset Password</h1>
                        <form action="/reset-password" method="POST">
                            <input type="hidden" name="email" value="{{email}}">
                            <label for="password">Enter new password</label>
                            <input type="password" id="password" name="password" required>
                            <label for="confirmpassword">Confirm new password</label>
                            <input type="password" id="confirmpassword" name="confirmpassword" required>
                            <input type="hidden" name="token" value="{{token}}">
                            <button type="submit">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <footer>
            <p>EFC @ 2024 || All Rights Reserved.</p>
        </footer>

    </main>

     <script src="/js/fyp.js"></script>
</body>

</html>