<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EFC</title>

    <link rel="stylesheet" href="/css/texttutorial.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


</head>

<body>
    <main>
        <div class="big-wrapper light">
            <img src="" alt="" class="shape" />

            {{> navbar}}

            <div class="container2">
                <div class="timeline">
                    <ul>
                       
                        <li>
                            <div class="timeline-content">
                                <h3 class="date"></h3>
                                <h1>Get Started Easily:</h1>
                                <p>Begin your content creation journey effortlessly by clicking on the "Create" button. This intuitive step sets you on the path to generating engaging content with just a few clicks.</p>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-content">
                                <h3 class="date"></h3>
                                <h1>Seamless Integration:</h1>
                                <p>Enjoy a smooth and straightforward process by copying and pasting the blog URL from popular websites like Cricinfo directly into the URL bar. This allows for seamless integration of your chosen content source.</p>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-content">
                                <h3 class="date"></h3>
                                <h1>Customize Your Output:</h1>
                                <p>Tailor your content to suit your specific needs by selecting the type of output you desire. Effortlessly create tailored hashtags to enhance the relevance and reach of your content, ensuring it resonates with your target audience.</p>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-content">
                                <h3 class="date"></h3>
                                <h1>Generate Instantly:</h1>
                                <p>Experience the convenience of instant content generation. With a simple click on the "Generate" button, watch as your custom content is created within seconds, ready for you to review and use.</p>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-content">
                                <h3 class="date"></h3>
                                <h1>Create Effective Hashtags:</h1>
                                <p>Boost the visibility and engagement of your content by generating effective and relevant hashtags. This feature allows you to effortlessly create hashtags that align with your content, maximizing its reach and impact on social media platforms.</p>
                            </div>
                        </li>

                          <li>
                            <div class="timeline-content">
                                <h3 class="date"></h3>
                                <h1>Download and Use:</h1>
                                <p> Once your content is generated, download it with ease. Whether you need it for social media, blog posts, or other uses, your desired content is ready to be utilized according to your requirements, providing you with flexibility and convenience.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>



        </div>







        <footer>
            <p>EFC @ 2024 || All Rights Reserved.</p>
        </footer>



    </main>


    <script src="/js/fyp.js"></script>
</body>


</html>