<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EFC</title>

    <link rel="stylesheet" href="/css/tutorial.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


</head>

<body>
    <main>
        <div class="big-wrapper light">
            <img src="" alt="" class="shape" />

            {{> navbar}}

        </div>

        <div class="container5">
            <a href="/texttutorial">
                <div class="box" id="box1">
                    <h3>Text Tutorial</h3>
                </div>
            </a>


            <a href="/videotutorial">
                <div class="box" id="box2">
                    <h3>Video Tutorial</h3>
                </div>
                 
            </a>

        </div>
        <footer>
            <p>EFC @ 2024 || All Rights Reserved.</p>
        </footer>



    </main>


    <script src="/js/fyp.js"></script>
</body>


</html>