<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EFC</title>

    <link rel="stylesheet" href="/css/videotutorial.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


</head>

<body>
    <main>
        <div class="big-wrapper light">
            <img src="" alt="" class="shape" />

             {{> navbar}}

        </div>

        <div class="container5">
            <!-- <a href="/admin/videotutorial.html"> -->
            <div class="box" id="box3">
                <object width="100%" height="100%">
                    <param name="movie" value="https://www.youtube.com/v/LwDaw8aX1us?version=3&amp;hl=en_US"></param>
                    <param name="allowFullScreen" value="true"></param>
                    <param name="allowscriptaccess" value="always"></param>
                    <embed src="https://www.youtube.com/v/LwDaw8aX1us?version=3&amp;hl=en_US" type="application/x-shockwave-flash" width="100%" height="100%" allowscriptaccess="always" allowfullscreen="true"></embed>
                </object>
            </div>
        </div>
        <!-- </a> -->



        </div>
        <footer>
            <p>EFC @ 2024 || All Rights Reserved.</p>
        </footer>



    </main>


     <script src="/js/fyp.js"></script>
</body>


</html>