<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EFC</title>

    <link rel="stylesheet" href="/client/style/create.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


</head>

<body>
    <main>
        <div class="big-wrapper light">
            <img src="" alt="" class="shape" />

            <header>
                <div id="nav" class="container">
                    <label class="logo">
                        EFC
                    </label>

                    <div class="links">
                        <ul>
                            <li><a href="/client/public/home.html">Home</a></li>
                            <li><a href="/client/public/tutorial.html">Guide</a></li>
                            <li><a href="/client/public/feedaback.html">Feedback</a></li>
                            <li><a href="/client/public/privacypolicy.html">Privacy Policy</a></li>
                            <li><a href="/client/public/login.html" class="btn">Log in </a></li>
                            <li><a href="/client/public/signup.html" class="btn">Sign up</a></li>
                        </ul>
                    </div>

                    <div class="overlay"></div>

                    <div class="hamburger-menu">
                        <div class="bar"></div>
                    </div>
                </div>

                <div class="bottom-area">
                    <div class="">
                        <button class="toggle-btn">
                            <!-- <i class="far fa-moon"></i>
                            <i class="far fa-sun"></i> -->
                        </button>
                    </div>
                </div>
            </header>
            <div class="container2">
                <div class="url-input-container">
                    <input type="url" id="urlInput" placeholder="Enter URL...">
                    <button class="btn-create" onclick="createContainer()">Create</button>
                </div>
                <div class="checkbox-container ">
                    <label><input type="checkbox" id="htmlCheckbox">HTML</label>
                    <label><input type="checkbox" id="cssCheckbox">CSS</label>
                    <label><input type="checkbox" id="javascriptCheckbox">JavaScript</label>
                    <label><input type="checkbox" id="responsiveCheckbox">Responsive</label>
                </div>
            </div>

        </div>



        <footer>
            <p>EFC @ 2024 || All Rights Reserved.</p>
        </footer>

    </main>

    <script src="/client/js/fyp.js"></script>
</body>

</html>