<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EFC</title>
    <link rel="stylesheet" href="/client/style/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


</head>

<body>
    <main>
        <div class="big-wrapper light">
            <img src="" alt="" class="shape" />

            <header>
                <div id="nav" class="container">
                    <label class="logo">
                        EFC
                    </label>




                    <div class="links">
                        <ul>
                            <li><a href="/client/public/home.html">Home</a></li>
                            <li><a href="/client/public/tutorial.html">Guide</a></li>
                            <li><a href="/client/public/feedaback.html">Feedback</a></li>
                            <li><a href="/client/public/privacypolicy.html">Privacy Policy</a></li>
                            <li><a href="/client/public/login.html" class="btn">Log in </a></li>
                            <li><a href="/client/public/signup.html" class="btn">Sign up</a></li>
                        </ul>
                    </div>

                    <div class="overlay"></div>

                    <div class="hamburger-menu">
                        <div class="bar"></div>
                    </div>
                </div>
            </header>

            <div class="showcase-area">
                <div id="one" class="container">
                    <div class="left">
                        <div class="big-title">
                            <h1>Future is here,</h1>
                            <h1>Start Creating now.</h1>
                        </div>
                        <p class="text">
                            Create Captivating, Eye-catching and hustle less content with much ease without any charges for free.
                        </p>
                        <div class="cta">
                            <a href="#" class="btn">Create Now</a>
                        </div>
                        <div class="cta">
                            <a href="#" class="btn">Tutorial Guide</a>
                        </div>
                    </div>

                    <div class="right">
                        <img src="/client/style/istockphoto-1173494842-612x612_400x272-removebg-preview (1).png" alt="" class="person" />
                    </div>
                </div>
            </div>

            <div class="bottom-area">
                <div class="container">
                    <button class="toggle-btn">
                        <!-- <i class="far fa-moon"></i>
                        <i class="far fa-sun"></i> -->
                    </button>
                </div>
            </div>

            <div class="wrapper1">

                <div class="random">
                    <i id="icon1" class="fas fa-heart"></i>
                    <span class="num" data-val="4000">000</span>
                    <span class="data">Likes</span>
                </div>
                <div class="random">
                    <i id="icon1" class="fas fa-share"></i>
                    <span class="num" data-val="3400">000</span>
                    <span class="data">Shares</span>
                </div>
                <div class="random">
                    <i id="icon1" class="fas fa-comment"></i>
                    <span class="num" data-val="2250">000</span>
                    <span class="data">Comments</span>
                </div>
                <div class="random">
                    <i id="icon1" class="fas fa-male"></i>
                    <span class="num" data-val="2800">000</span>
                    <span class="data">Followers</span>
                </div>
            </div>

            <div class="container2">
                <div class="timeline">
                    <ul>
                        <li>
                            <div class="timeline-content">
                                <h3 class="date"></h3>
                                <h1>Template 1</h1>
                                <p> Seamlessly integrate website images into templates: Blend your blog visuals effortlessly for cohesive branding and professional aesthetic</p>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-content">
                                <h3 class="date"></h3>
                                <h1>Template 2</h1>
                                <p>AI-powered image generation with Stablefussion API: Harness AI to create customized images based on extracted text, ensuring relevance and engagement.</p>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-content">
                                <h3 class="date"></h3>
                                <h1>Template 3</h1>
                                <p>Access artistic templates via Unsplash: Explore a vast library of stunning templates to elevate your visual content with creativity and style.</p>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-content">
                                <h3 class="date"></h3>
                                <h1>Template 4</h1>
                                <p>Dynamic text animations with Moviepy: Bring your content to life with animated text that grabs attention and communicates your message effectively.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>




        <footer>
            <p>EFC @ 2024 || All Rights Reserved.</p>
        </footer>



    </main>


    <script src="/client/js/fyp.js"></script>
    <script src="/index.js"></script>
</body>

</html>