<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EFC</title>
    <link rel="stylesheet" href="/client/style/loginsignup.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


</head>

<body>
    <main>
        <div class="big-wrapper light">


            <header>
                <div id="nav" class="container">
                    <label class="logo">
                        EFC
                    </label>



                    <div class="links">
                        <ul>
                            <li><a href="/client/public/home.html">Home</a></li>
                            <li><a href="/client/public/tutorial.html">Guide</a></li>
                            <li><a href="/client/public/feedaback.html">Feedback</a></li>
                            <li><a href="/client/public/privacypolicy.html">Privacy Policy</a></li>
                            <li><a href="/client/public/login.html" class="btn">Log in </a></li>
                            <li><a href="/client/public/signup.html" class="btn">Sign up</a></li>
                        </ul>
                    </div>

                    <div class="overlay"></div>

                    <div class="hamburger-menu">
                        <div class="bar"></div>
                    </div>
                </div>
            </header>


            <div class=" bottom-area ">
                <div class="container ">
                    <button class="toggle-btn ">
                <!-- <i class="far fa-moon "></i>
                <i class="far fa-sun "></i> -->
              </button>
                </div>
            </div>
            <div class="home" id="home">
                <div class="container2">
                    <div class="items">
                        <div class="item">
                            <div class="content">
                                <h1>Sign Up And Start Creating For Free</h1>
                                <form action="/signup" method="POST">
                                    <div class="line">
                                        <label for="email">Name</label>
                                        <div class="field">
                                            <input type="text" class="input" id="name" name="name" placeholder="Name" required>

                                        </div>
                                    </div>
                                    <div class="line">
                                        <label for="email">Email</label>
                                        <div class="field">
                                            <input type="text" class="input" id="email" name="email" placeholder="Email" required>

                                        </div>
                                    </div>
                                    <div class="line">
                                        <label for="email">Password</label>
                                        <div class="field">
                                            <input type="text" class="input" id="password" name="password" placeholder="Pasword" required>
                                            <span class="icon">display</span>
                                        </div>
                                    </div>
                                    <!-- <a href="#" class="forgot">
                                        Forgot your password ?
                                    </a> -->

                                    <div class="btns">
                                        <button type="submit" value="submit" id="submit" class="btn-login">Sign up</button>
                                    </div>
                                </form>

                                <div class="or">
                                    <span></span>
                                </div>

                                <div class="terms">
                                    <p>By cliking Continue, you agree to Linkedin
                                        <a href="#">Privacy Policy </a>, and
                                        <a href="#">Cookie Policy</a>
                                    </p>
                                </div>

                                <!-- <button class="btn-google">
                                    <img src="/style/google.png" alt="" srcset="" height="30">
                                    <span>Continue with Google</span>
                                </button> -->
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="/client/style/bg.png" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <footer>
            <p>EFC @ 2024 || All Rights Reserved.</p>
        </footer>

    </main>

    <script src="/client/js/fyp.js"></script>

</body>

</html>